
@if (Request.IsAuthenticated)
{
    <li class="nav navbar-nav">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" style="color: white;">
        Atributos <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#" disabled>Atributos</a></li>
        <li class="divider"></li>
        <li>@Html.ActionLink("Dia", "Index", "Masters/TipoDia")</li>
        <li>@Html.ActionLink("Sexo", "Index", "Masters/TipoSexo")</li>
        @*<li>@Html.ActionLink("Reserva", "Index", "Masters/TipoReserva")</li>*@
        <li>@Html.ActionLink("Medicos", "Index", "Masters/Profesional")</li>
        <li>@Html.ActionLink("Especialidad", "Index", "Masters/Especialidad")</li>
        <li>@Html.ActionLink("Lista de turnos", "Index", "Masters/Turno")</li>
        <li>@Html.ActionLink("Afiliado", "Index", "Masters/Afiliado")</li>
        <li>@Html.ActionLink("Turnos", "TomarTurno", "Masters/Turno")</li>
        <li>@Html.ActionLink("Plan", "List", "Masters/Plan")</li>        
        <li>@Html.ActionLink("Métricas", "Index", "Masters/Highchart")</li>
        <li class="divider"></li>
    </ul>
    </li>

}
