@using PagedList.Mvc;
@model PagedList.IPagedList<MCGA.Entities.Profesional>
@*@model IEnumerable<MCGA.Entities.Profesional>*@

@{
    ViewBag.Title = "List";
}

<h2>Profesionales</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("List", "Profesional", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control text-box single-line", autocomplete = "off", placeholder = "Ingrese nombre o apellido del profesional", style = "width:350px; display: inline-block;" })
        <input type="submit" value="Buscar" class="btn btn-info" />
    </p>
}
<table class="table table-condensed table-striped">
    <tr>
        <th>
            <span data-toggle="tooltip" data-placement="top" title="Nombre del profesional">@Html.Raw("Nombre")</span>
        </th>        
        <th>
            @Html.Raw("Apellido")
        </th>
        <th>
            @Html.Raw("Numero")
        </th>
        <th>
            @Html.Raw("Direccion")
        </th>
        <th>
            @Html.Raw("Documento")
        </th>
        <th>
            @Html.Raw("Telefono")
        </th>
        <th>
            @Html.Raw("Mail")
        </th>
        <th>
            @Html.Raw("Fecha nac.")
        </th>
        <th>
            @Html.Raw("Matricula")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDocumento.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matricula)
        </td>
        <td>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Operaciones
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                    </li>
                    <li>@Html.ActionLink("Detalles", "Details", new { id = item.Id })</li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</li>
                    <li>@Html.ActionLink("Asignar especialidad", "Especialidad", new { id = item.Id })</li>
                    <li>@Html.ActionLink("Ver especialidades", "Especialidad", new { id = item.Id })</li>
                </ul>
            </div>
        </td>
    </tr>
    }

</table>
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("List", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
