@model IEnumerable<MCGA.Entities.Especialidad>

@{
    ViewBag.Title = "List";
}

<h2>Especialidades por profesional</h2>

<div class="_form-horizontal">
    <div class="form-group">
        <label for="ProfesionalName" class="control-label col-md-2">Profesional</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-required="Requerido" id="ProfesionalName" name="ProfesionalName" type="text" value="" placeholder="Ingrese las primeras letras de la especialidad" style="display: inline-block;" />
            <span class="field-validation-valid text-danger" data-valmsg-for="ProfesionalName" data-valmsg-replace="true" style="display: inline-block"></span>
            <div style=" margin-left: 50px; display: inline-block">

                @*@Html.ActionLink("Ver profesionales", "ListaTurnos", new { profesionalId: $("#profesionalId").val() } )*@
                <input type="button" id="profesional" value="Ver profesionales" onclick="irATurnos()" />
                @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="profesionalId" type="hidden" />
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoEspecialidad.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.frecuencia)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEspecialidad.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.frecuencia)
            </td>
            <td>
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#ProfesionalName").autocomplete({
            autoSelect: true,
            autoFocus: true,
            minLength: 1,
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetProfesionales", "ProfesionalEspecialidad")',
                    datatype: "json",
                    data: { Areas: 'Masters', term: request.term },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return { label: val.Descripcion, value: val.Descripcion, Id: val.Id };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                $("#profesionalId").val(ui.item.Id);
            }
        });
    </script>
    <script type="text/javascript">
        var myDato = $("#profesionalId").val();

        function irATurnos() {
            var myDato = $("#profesionalId").val();
            location.href = '/masters/profesionalEspecialidad/listaturnos/?profesionalId=' + myDato + '&page=1';
        }
    </script>
}
